[submodule "v1.9"]
	path = v1.9
	url = https://github.com/nathdobson/tioxnet
	branch = v1.9
[submodule "main"]
	path = main
	url = https://github.com/nathdobson/tioxnet
	branch = main
[submodule "v0.1"]
	path = v0.1
	url = https://github.com/nathdobson/tioxnet
	branch = v0.1
[submodule "v0.2"]
	path = v0.2
	url = https://github.com/nathdobson/tioxnet
	branch = v0.2
[submodule "v1.12"]
	path = v1.12
	url = https://github.com/nathdobson/tioxnet
	branch = v1.12
[submodule "v1.13"]
	path = v1.13
	url = https://github.com/nathdobson/tioxnet
	branch = v1.13
[submodule "v1.14"]
	path = v1.14
	url = https://github.com/nathdobson/tioxnet
	branch = v1.14
[submodule "v1.15"]
	path = v1.15
	url = https://github.com/nathdobson/tioxnet
	branch = v1.15
